.card {
    border-radius: 20px;
    color: #fff;
}
.profile {
    grid-row: 1/span 2;
    background-color: #1c1f4a;
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}