.card{
    border-radius: 20px;
    width: 30%;
}

.cardInfo{
    background-color: #1c1f4a;
    border-radius: 16px;
    width: 100%;
    height: 80%;
    overflow: hidden;
}

.small-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 120%;
}

.title-container {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.ellipsis {
    height: 5px;
    width: 20px;
    margin-left: 10px;
}

.card-details {
    margin: 20px;
}

.Work {
    background: url(../../../assets/images/icon-work.svg) no-repeat right 10px top -12px, #ff8c66;
}

.Play {
    background: url(../../../assets/images/icon-play.svg) no-repeat right 10px top -12px, #56c2e6;
}

.Study {
    background: url(../../../assets/images/icon-study.svg) no-repeat right 10px top -12px, #ff5c7c;
}

.Exercise {
    background: url(../../../assets/images/icon-exercise.svg) no-repeat right 10px top -12px, #4acf81;
}

.Social {
    background: url(../../../assets/images/icon-social.svg) no-repeat right 10px top -12px, #7536d3;
}

.Self.care {
    background: url(../../../assets/images/icon-self-care.svg) no-repeat right 10px top -12px, #f1c65b;
}

